.all{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.header{
   
    height: 150px;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    grid-template-columns: 1fr 2fr 1fr;
    
}

.ym{
    padding: 15px; /* Надо посмотреть как делать правильно отступы на Гридах*/
    justify-content: start;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.helper{
    justify-content: center;
    align-content: center;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.MD{
    width: 150px;
    height: 60px;
}
.autorize{
    padding: 15px;/* Надо посмотреть как делать правильно отступы на Гридах*/
}

.body{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    grid-template-columns: 25% 55% 20%;
    height: 350px;
}
.footer{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
}
.lmenu{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.rmenu{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}
.container{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}



body{
    background-color: rgb(109, 109, 109);
}